* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Rubik", sans-serif;
}

:root {
	--bgcolor-1: hsl(293, 100%, 63%);
	--bgcolor-2: hsl(264, 100%, 61%);
	--main-heading: hsl(271, 36%, 24%);
	--sub-heading: hsl(276, 100%, 81%);
	--chat-left: hsl(276, 55%, 52%);
	--chat-right: hsl(271, 15%, 43%);
	--placeholder: hsl(206, 6%, 79%);
	--paragraph: hsl(270, 7%, 64%);
	--white: hsl(0, 0%, 100%);
	--app-bg: hsl(270, 20%, 96%);
	--button-bg: hsl(271, 36%, 24%);
	--radio-button-outline: hsl(289, 100%, 72%);
}

div.body-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -2;
	width: 25em;
	height: 40em;
	background-image: linear-gradient(var(--bgcolor-1), var(--bgcolor-2));
	border-bottom-left-radius: 15em;
	border-bottom-right-radius: 20em;
}
.flex {
	display: flex;
	flex-flow: wrap;
}
.left,
.right {
	flex: 50%;
	margin-top: 10%;
}

.phone {
	padding: 2.5%;
	margin-left: 40%;
	width: 20em;
	height: 40em;
	border-radius: 2em;
	box-shadow: 0 0 3px 0;
	background-color: var(--white);
}
.screen {
	height: 100%;
	border-radius: 2em;
	background-color: var(--app-bg);
}
div.contact-header {
	padding: 5%;
	height: 5em;
	border-radius: 2em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-image: linear-gradient(var(--bgcolor-1), var(--bgcolor-2));
}
img.contact-dp {
	margin-right: 5%;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	float: left;
}
.contact-name {
	margin-top: 2%;
	font-size: 1.2em;
	color: white;
}
.contact-about {
	font-size: 0.8em;
}

.chat-body {
	padding: 5%;
}
div.messages {
	padding: 3% 5%;
	margin: 2% 0;
	width: auto;
	height: auto;
	border-radius: 1em;
}

div.messages p {
	font-size: 0.85em;
}
div.received {
	color: var(--chat-left);
	background-color: #ccc;
	float: left;
	border-bottom-left-radius: 0;
}
div.sent {
	color: var(--chat-right);
	background-color: var(--white);
	float: right;
	box-shadow: 0 0 3px 0;
	border-bottom-right-radius: 0;
}
div.dog-images {
	background: none;
	box-shadow: none;
	margin-bottom: -5%;
}
div.dog-images img {
	width: 52px;
	height: 52px;
	border-radius: 10px;
}
div.order-option {
	width: 80%;
	border-radius: 10px;
	height: 2.7em;
	color: white;
	background-image: linear-gradient(var(--bgcolor-2), var(--bgcolor-1));
}
div.order-option p {
	margin: 5% 10% 0 0;
}
div.order-option h2 {
	margin-top: -15%;
	font-size: 2em;
	float: right;
}

input {
	margin: 5% 0;
	padding: 0 5%;
	width: 100%;
	height: 2.5em;
	border: 0;
	border-radius: 20px;
	outline: none;
}

::placeholder {
	font-size: 0.8em;
	color: var(--placeholder);
}

.right{
	margin-top: 20%;
}
.right h1 {
	color: var(--main-heading);
	font-size: 3em;
	margin-bottom: 5%;
}
.right p {
	font-size: 1.2em;
	color: var(--paragraph);
}

footer {

	margin: 5% 0 2%;
	text-align: center;
}

footer a {
	color: var(--button-bg);
}


@media (max-width: 800px) {
	div.body-bg {
		width:70%;
	}
	.phone {
		margin-left: 20%;
	}
	.left {
		margin-top: 15%;
	}
	.right {
		margin-top: 0;
		padding: 5% 2%;
		text-align: center;
	}
	.right h1 {
		font-size: 1.8em;
	}
	.right p {
		font-size: 1em;
	}
}

@media (max-width: 800px) and (orientation:landscape) {
	.flex {
		display: block;
	}
	.phone {
		margin-left: 10%;
	}
	.right h1 {
		margin-bottom: 0;
	}
}

@media (max-width: 400px) {
	input {
		margin-top: 10%;
	}
}